### Python template

# Django secret settings
local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite file, if not used
db.sqlite3

# venv
.venv

# editors
.idea

# Translations
*.mo

# Unit test / coverage reports
.coverage
htmlcov/

# Media files
media/**
